.text-center{
  text-align: center;
}

.button-border{
  border: none;
  color: black;
}

.background{
  background-color:beige;
  padding: 20px;
  margin-top: 10px;
}

.image{
  width: 60px;
  height: 60px;
}
