<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <h1 class="text-center">Userlist</h1><br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Photo</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tr *ngFor="let user of userslist">
          <td scope="row">{{user.name}}</td>
          <td scope="row">{{user.email}}</td>
          <td scope="row">{{user.phone}}</td>
          <td scope="row">{{user.age}}</td>
          <td scope="row">{{user.gender}}</td>
          <td scope="row"><img class="image" [src]="user.photo"></td>
          <td scope="row">{{user.address}}</td>
          <td><button type="button" class="btn btn-primary button-border" (click)="deleteRow()"><icon class="fa fa-trash"></icon> </button></td>
          <td><button type="button" class="btn btn-primary button-border" (click)="updateRow(user)"><icon class="fa fa-edit"></icon> </button></td>

        </tr>
      </table>
    </div>


    <!-- user form -->
    <div class="col-5 background">
      <h1 class="text-center">userform</h1>
      <form [formGroup]="userform">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="name" id="FormControlInput1"
            placeholder="Enter the name">
            <div class="text-danger" *ngIf="userform.get('name').errors && userform.get('name').touched">
              Please enter the name
            </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="email" id="FormControlInput2"
            placeholder="Enter Email">
            <div class="text-danger" *ngIf="userform.get('email').errors && userform.get('email').touched">
              <span [hidden]="!userform.get('email')?.errors?.required"> Please Enter Email</span>
              <span [hidden]="!(!userform.get('email')?.errors?.required && userform.get('email')?.errors?.email)"> Please Enter Email Correct pattern</span>
            </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Mobile No.</label>
          <input type="number" class="form-control" formControlName="phone" id="FormControlInput3"
            placeholder="Enter the mobile no">
            <div class="text-danger" *ngIf="userform.get('phone').errors && userform.get('phone').touched">
              Please enter the mobile number correctly
            </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Age</label>
          <input type="number" class="form-control" formControlName="age" id="FormControlInput4"
            placeholder="Enter the age">
            <div class="text-danger" *ngIf="userform.get('age').errors && userform.get('age').touched ">
              Please enter the valid  digit age
            </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Gender</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="male" formControlName="gender">
            <label class="form-check-label" for="flexRadioDefault1">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="female" formControlName="gender">
            <label class="form-check-label" for="flexRadioDefault2">
              Female
            </label>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Photo</label>
          <input type="file" id="photo" name="photo" (change)="readUrl($event)" accept="image/*">
        </div>

        <div class="mb-3">
          <label class="form-label">Address</label>
          <textarea class="form-control" id="FormControlInput5" formControlName="address" rows="3"
            placeholder="Enter the address"></textarea>
            <div class="text-danger" *ngIf="userform.get('address').errors && userform.get('address').touched">
              Please enter the address
            </div>
        </div>
        <button type="button" class="btn btn-primary" [disabled]="userform.invalid" (click)="addUser()">ADD</button>
      </form>
    </div>
  </div>
</div>
